.intro-hobby-line:before{
    position: absolute;
    content: "";
    width: 47px;
    height: 1px;
    margin-top: -10px;
    background: #fff;
}
.social-about-me ul li {
    display: inline-block;
    vertical-align: top;
    padding: 0 5px;
}

.focial-about-me ul li a {
    font-size: 15px;
}